.contentbg{
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding:10px;
    color: white;
    font-size: 16px;
}

.block_size{
    width: 600px;
    height: 600px;
}

.title{
    font-size: 1em;
    margin-top: 15px;
  }

.btn{
    background-color: #ff7700 !important;
    color:white ;
    border: none !important;
    width: 100%;
}
.input{
    border: 2px solid #ff7700 !important;
    border-radius: 0.7rem;
}
